@import "tailwindcss";

:root {
  --neon-blue: #00f0ff;
  --neon-coral: #ff4f79;
  --dark-bg: #0d0d15;
}

body {
  font-family: "JetBrains Mono", monospace;
  background-color: var(--dark-bg);
  color: #fff;
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Orbitron", sans-serif;
}
